@tailwind base;
@tailwind components;
@tailwind utilities;

.fade-in {
  animation: fadeIn 0.4s forwards;
}

.fade-out {
  animation: fadeOut 0.4s forwards;
}

@media only screen and (max-width: 340px) {
  .todos-container {
    height: 30vh;
    max-height: 270px;
  }
}
@media only screen and (min-width: 340px) {
  .todos-container {
    height: 50vh;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}
